*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle
.gradle/
build/



.idea/

# Kotlin / Java
*.class

# Logs
*.log

# Mac / Windows

Thumbs.db

# Keystore (caso exista)
*.jks
*.keystore

# Generated
/app/build/
